* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.purple {
    color: #e714ff;
}
.yellow {
    color: #f7ff14;
}
body {
    background-color: #fff;
    color: #535658;
    font-family:'Open Sans', sans-serif;
    text-decoration: none;
}
img {
    height: 210px;
    margin: 2px;
    padding: 2px;
    width: 200px;
}

/**--------- NAVBAR -----------**/
.navbar-custom {
    background-color: lightgreen;
}
.navbar-brand {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    font-size: 30px;
}

/** ------------ FOOTER ------------- **/
/** ---------- FILE DROP ZONE -----------**/
.dropzone {
margin: auto;
max-width: 300px;
height: 250px;
padding: 25px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 20px;
cursor: pointer;
color: #cccccc;
border: 5px dashed #f7ff14;
border-radius: 10px;
box-shadow: 0px 2px 20px 0px #f2f2f2;       
}
.dropzone--over {
border-style: solid;
}
.data-dz-thumbnail {
width: 200px;
height: 200px;
border-radius: 10px;
overflow: hidden;
background-color: #cccccc;
background-size: cover;
position: absolute;
}
.data-dz-thumbnail::after {
content: attr(data-label);
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 5px 0;
color: #ffffff;
background: rgba(0, 0, 0, 0.75);
font-size: 14px;
text-align: center    
}
ion-icon {
   font-size: 50px;
    margin-bottom: 6px;
  }